/*
Based off https://themes.gohugo.io/blackburn/
*/
.header {
    font-family: "Raleway", Helvetica, Arial, sans-serif
}
.small-print {
    font-size: 0.8em;
    margin: 0.6em;
}
.post-meta {
    font-size: 90%;
}
article > footer {
    text-align: right;
}
.prev-next-post {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.prev-next-post .prev {
    float: left;
    text-align: left;
    overflow: hidden;
}
.prev-next-post .next {
    float: right;
    text-align: right;
    overflow: hidden;
}
i {
    display: inline-block;
    margin-right: 0.2em;
}
.pagination {
    text-align: center;
    margin-top: 3em;
}
.pagination a {
    color: #265778;
}
body {
    color: #777;
    text-align: center;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
.header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
.header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}
.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}
footer{
  border-top: 1px solid #eee;
  font-weight: bold;
}
/*Navbar style*/
ul {
	list-style-type:none;
	 margin: 0 auto;
	padding:0;
  display: inline-block;
}
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}
li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}
li:hover a {
	background: #888;
}
li:hover ul a {
	background: #f3f3f3;
	color: #d8d8d8;
	height: 40px;
	line-height: 40px;
}
li:hover ul a:hover {
	background: #888;
	color: #fff;
}
li ul {
	display: none;
}
li ul li {
	display: block;
	float: none;
}
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #2f3036;
  font-weight: bold;
	text-align: center;
	padding: 10px 0;
	display: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width : 760px){
	ul {
		position: static;
		display: none;
	}
	li {
		margin-bottom: 1px;
	}
	ul li, li a {
		width: 100%;
	}
	.show-menu {
		display:block;
	}
}

@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: 150px;
    }
    .header h1{
      font-size: 2.5em;
    }
}
