/* Header style */
header img {
    width: 50%;
    height: auto;
}

header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
}


/*Navbar style*/
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    padding: 0.5em 0 0.5em;
}

li {
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 8px;
    border-radius: 2px;
    font-size: 16px;
    float: left;
}

li a {
    display: block;
    min-width: 200px;
    line-height: 3;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #2b56d3;
    text-decoration: none;
}

li:hover a {
    background: #1f3d99;
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #eee;
    background: #2f3036;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~#menu {
    display: block;
}


/* Body infomation style */
p {
    font-size: 3vh;
}

body {
    background-color: #0D0D0D;
    color: white;
    font-family: Roboto;
    font-weight: normal;
    text-align: center;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 60%;
    margin-bottom: 50px;

}


/*Responsive styling*/
@media screen and (max-width : 960px) {
    ul {
        position: static;
        display: none;
    }

    li {
        margin-bottom: 0.5vh;
    }

    ul li,
    li a {
        width: 100%;
    }

    .show-menu {
        display: block;
    }

    .main-carousel{
        display: none;
    }

}

@media (max-width : 80em) {
    header img {
        width: 70%;
    }
}

@media (max-width: 48em) {
    header img {
        width: 100%;
    }
}

/* Carousel style */
.carousel-cell {
    width: 100%;
}

.carousel-cell img{
    width: 100vh;
}


/* Modlist style */
h1{
    border-bottom: 1px solid #dedede;
    padding-bottom: 2vh;
    font-family: monospace;
}

.modlist {
    display: flex;
    flex-direction: column;
}

.mod {
    display: flex;
    overflow: hidden;
    padding-bottom: 1vh;
}

.mod:hover {
    border: 0.3vh solid #eee;
}

.moddetails h2 {
    font-family: monospace;
    font-size: 2em;
    background-color: #2b56d3;
    padding: 1vh;
    border-radius: 5px;
}

.moddetails p {
    font-size: 2.5vh;
}

.moddetails {
    padding-left: 2vh;
    width: 100%;
}

.mod img {
    height: 10vw;
    width: auto;
}

a {
    color: inherit;
    text-decoration: none;
}


/* Footer style */
footer {
    border-top: 1px solid #2b56d3;
    font-family: monospace;
}